rules_version = '2';

service cloud.firestore {

  function isAuth(){
    return request.auth != null
  }
  function myUID(){
    return request.auth.uid
  }
  function incomingData(){
    return request.resource.data
  }
  function existingData(){
    return resource.data
  }
  function isAvailableCreateFields(fieldList){
    return incomingData().keys().hasOnly(fieldList)
  }
  function isAvailableUpdateFields(FieldList){
    return incomingData().diff(existingData()).affectedKeys().hasOnly(FieldList)
  }
  function getParentTopic(database,documentID){
    return get(/databases/$(database)/documents/topic/$(documentID))
  }

  match /databases/{database}/documents {
    match /user/{userID} {
      allow get:if isAuth()
      allow create:if isAuth() &&
                      userID == myUID() &&
                      incomingData().name is string &&
                      incomingData().name.size() < 31 &&
                      incomingData().uid == myUID() &&
                      isAvailableCreateFields(["name","uid"])
      allow update:if isAuth() &&
                      userID == myUID() &&
                      incomingData().name is string &&
                      incomingData().name.size() < 31 &&
                      isAvailableUpdateFields(['name']);
    }
    // userPrivate
    match /userPrivate/{userID} {
      allow get:if isAuth() &&
                    userID == myUID()
      allow create:if isAuth() &&
                      userID == myUID() &&
                      incomingData().email is string &&
                      incomingData().email.size() < 31 &&
                      incomingData().uid == myUID() &&
                      isAvailableCreateFields(["email","uid","memberUIDs"])
      allow update:if isAuth() &&
                      userID == myUID() &&
                      incomingData().email is string &&
                      incomingData().email.size() < 31 &&
                      isAvailableUpdateFields(['email',"memberUIDs"]);
    }
    // topic
    match /topic/{documentID} {
      allow get:if isAuth() &&
                    myUID() in existingData().authorizedUIDs
      allow list:if isAuth() &&
                    myUID() in existingData().authorizedUIDs
      allow create:if isAuth() &&
                      incomingData().uid == myUID() &&
                      myUID() in incomingData().authorizedUIDs &&
                      isAvailableCreateFields(["title","content","authorizedUIDs","files","updatedAt","name","status","uid","docID","createdAt",])
      allow update:if isAuth() &&
                      existingData().uid == myUID() &&
                      myUID() in incomingData().authorizedUIDs &&
                      isAvailableUpdateFields(["title","content","authorizedUIDs","files","updatedAt"])
      allow delete:if isAuth() &&
                      existingData().uid == myUID()

      match /history/{historyDocumentID}{
        allow list:if isAuth() &&
                        myUID() in getParentTopic(database,documentID).data.authorizedUIDs
        allow create:if isAuth() &&
                        incomingData().uid == myUID() &&
                        myUID() in getParentTopic(database,documentID).data.authorizedUIDs &&
                        isAvailableCreateFields(["url","content","status","files","updatedAt","createdAt","docID","uid","name","topicDocID"])
        allow update:if isAuth() &&
                        myUID() in getParentTopic(database,documentID).data.authorizedUIDs &&
                        isAvailableUpdateFields(["url","content","status","files","updatedAt"])
        allow delete:if isAuth() &&
                        myUID() == getParentTopic(database,documentID).data.uid ||
                        myUID() == existingData().uid
      }
    }
  }
}
