rules_version = '2';
  function isUidFieldEquelToLoginUid(){
    return request.auth.uid == request.resource.data.uid
  }
service cloud.firestore {
  match /databases/{database}/documents {
      match /user/{uid} {
      allow read: if request.auth != null;
      allow write: if (request.auth.uid == uid) && isUidFieldEquelToLoginUid();
    }
  }
  match /topic/{docID} {
    allow read, write: if request.auth != null;
  }
}
